Please find below the Maintainers of all the dynawo projects:

[adriguir](https://github.com/adriguir)
[bongrainmat](https://github.com/bongrainmat)
[cossartque](https://github.com/cossartque)
[gautierbureau](https://github.com/gautierbureau)
[marcochiaramello](https://github.com/marcochiaramello)
[rosiereflo](https://github.com/rosiereflo)
